html{
  font-size: 80%;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

}

.head-img{
  width: auto;
  height:auto;
  transition: max-width 1s, min-width 1s;
  margin: 10px;
}

.head-img-expanded{
  max-width: 250px;
  min-width: 230px;
}

.head-img-contracted{
  max-width: 100px;
  min-width: 80px;
}


.header-text{
  font-family: 'Lily Script One', cursive, sans-serif;
  font-size: 5rem;
  margin: 60px 0 15px 0;
  transition: font-size 1s;
  text-align: center;
}


.header-text-expanded{
  font-size: 5rem;
}

.header-text-contracted{
  font-size: 3rem;
}


@media(max-width: 998px){
  html{
    font-size: 75%;
  }
  
}


@media(max-width: 786px){
  html{
    font-size: 65%;
  }
  
  .head-img{
    height: 33%;
    width: 40%;
  }
}